<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Запросов</title>
</head>
<body style="background: cornflowerblue">
<div style="position: absolute;top:30%;left: 30%;font-family: cursive">
    <h1 th:text="'Запросов было сделано: ' + ${count}"></h1>
</div>
<div style="width: 150px;padding: 15px;border-radius: 15px;text-align:center;background: blanchedalmond;font-size: 15px;box-shadow: 2px 2px 10px black"><a style="text-decoration: none;color: black;font-size: 18px;font-weight: 600;" href="/AverageSpeed">Назад</a></div>
</body>
</html>